<div class="content">
    <div class="login">
        <div class="login-logo">
            <p-image src="../../../assets/logo.png" width="100px" height="45px"></p-image>
        </div>

        <p class="login-title">Войдите в личный кабинет</p>

        <input type="text" pInputText class="login-input" placeholder="Введите почту"/>
        <input type="text" pInputText class="login-input" placeholder="Введите пароль"/>

        <div class="login-options">
            <p-checkbox [binary]="true" [(ngModel)]="rememberMe"></p-checkbox>
            <p class="login-options__remember-me" (click) = "changeRememberMe()">Запомнить меня</p>
            <p class="login-options__forgot-password">забыли пароль?</p>
        </div>

        <p-button label="Войти" [style]="{'width': '100%', 'margin-top': '5px'}"></p-button>

        <p class="login-partnership">Хотите стать нашим партнёром?</p>
        <p class="login-partnership-link">Подайте заявку</p>
    </div>
</div>