@media (max-width: 600px) {
    .login {
        width: 400px;
        padding: 10px 15px;

        &-title {
            font-size: 20px;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        &-input {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        &-options__remember-me {
            margin-left: 5px;
        }

        &-partnership {
            margin-top: 10px;
        }

        &-partnership-link {
            margin-top: 2px;
        }
    }
}

@media (max-width: 425px) {
    .login {
        width: 100%;
        padding: 5px 10px;
    }
}