<div class="tabbar">
    <div class="tabbar-item">
        <span class="pi pi-home"></span>
        <p>Главная</p>
    </div>
    <div class="tabbar-item">
        <span class="pi pi-video"></span>
        <p>Видео</p>
    </div>
    <div class="tabbar-item">
        <span class="pi pi-comment"></span>
        <p>Мессенджер</p>
    </div>
    <div class="tabbar-item">
        <span class="pi pi-bell"></span>
        <p>Уведомления</p>
    </div>
    <div class="tabbar-item tabbar-item-active" (click)="changeActiveSidebar()">
        <span class="pi pi-bars"></span>
        <p>Ещё</p>
    </div>

</div>