$background-color: #EDEEF0;
$modal-screen-color: #242425;
$modal-activities-color: #6c6c6c7c;
$acivities-color: #dddddf;
$menu-hover-color: #E4E6E9;
$text-with-link-color: #2478ff;
$subtext-color: #98948D;
$border-color: #e1e1e1;
$prime-ng-color: #007ad9;
$button-color: #EBF2FA;
$button-hover-color: #DFEAF6;
$blue-hover: #EBF2FA;
$slider-background-color: #ffffff62;