@media (max-width: 600px) {
    .signup {
        width: 400px;
        padding: 10px 15px;

        &-title {
            font-size: 18px;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        &-input {
            margin-top: 5px;
            margin-bottom: 5px;

            &__password{
                margin-bottom: 2px;
            }
    
            &__repeat-password{
                margin-top: 2px;
            }
        }

        &-partnership {
            margin-top: 10px;
        }

        &-partnership-link {
            margin-top: 2px;
        }
    }
}

@media (max-width: 425px) {
    .signup {
        width: 100%;
        padding: 5px 10px;
    }
}