<div class="content">
    <div class="signup">
        <div class="signup-logo">
            <p-image src="../../../assets/logo.png" width="100px" height="45px"></p-image>
        </div>

        <p class="signup-title">Зарегистрироваться в личном кабинете</p>

        <input type="text" pInputText class="signup-input" placeholder="Введите почту"/>
        <input type="text" pInputText class="signup-input signup-input__password" placeholder="Введите пароль"/>
        <input type="text" pInputText class="signup-input signup-input__repeat-password" placeholder="Подтвердить пароль"/>

        <div class="signup-options">
            <p-checkbox [binary]="true" [(ngModel)]="rememberMe"></p-checkbox>
            <p class="signup-options__remember-me" (click) = "changeRememberMe()">Запомнить меня</p>
        </div>

        <p-button label="Зарегистрироваться" [style]="{'width': '100%', 'margin-top': '5px'}"></p-button>

        <p class="signup-partnership">Хотите стать нашим партнёром?</p>
        <p class="signup-partnership-link">Подайте заявку</p>
    </div>
</div>