@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100..900&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import './app/_variables.scss';

body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
}

p {
    font-family: 'Roboto', sans-serif;
}

p-autocomprkete input {
    height: 30px;
    background-color: $background-color;
    border-width: 0;
}

.content-form__logo-img img {
    width: 100px;
    height: 45px;
}

.content-form__input-field-input {
    height: 45px;
}

.content-form__btn {
    width: 100%;
    margin-top: 5px;
}

.dropdown {
    .p-dropdown {
        width: 80px;
        height: 30px;
        background-color: $button-color;
        border-color: $button-color;

        span {
            color: $prime-ng-color;
            font-size: 1rem;
            font-weight: 700;
        }

        .p-dropdown-label {
            display: flex;
            font-size: 12px;
            padding: 2px 12px;
        }

        .p-overlay {
            margin-top: 5px;
            left: -180px !important;
        }

        &-main {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p,
            span {
                margin: 0;
                font-size: 14px;
                font-weight: 500;
            }

            span {
                display: flex;
                align-items: center;
            }
        }

        p-dropdownitem {
            width: 10vw;
        }

        &-item {
            width: 250px;
            padding: 5px;
            display: flex;
            gap: 10px;
            border-radius: 10px;
            margin: 0 5px;
            background-color: transparent;

            p {
                margin: 0;
                font-size: 13px;
                font-weight: 400;
            }

            &:hover {
                background-color: #EDEEF0;
            }
        }

        &:hover {
            background-color: $button-hover-color;
        }
    }

    .p-dropdown-trigger {
        width: 0;
    }

    .p-icon-wrapper {
        width: 0;
        display: none;
    }
}

.profile-field-header-content-button-field button {
    width: 205px;
    height: 30px;
    padding: 0;
    background-color: $button-color;
    border-color: $button-color;
    color: $prime-ng-color;

    .p-button-label {
        font-size: 14px;
        font-weight: 600;
    }

    &:hover {
        background-color: $button-hover-color;
    }
}

.profile-field-header__cover-button {
    position: absolute;
    display: none;
    top: 20px;
    right: 20px;
    padding: 0 5px;
    z-index: 2;


    &-label p,
    &-label span {
        color: white !important;
    }

    &-label {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .p-dropdown {
        width: 160px !important;
        background-color: transparent;
        border-color: transparent;
        border-width: 0;

        &:hover {
            background-color: transparent;
            border-color: transparent;
            border-width: 0;
        }

        &:not(.p-disabled).p-focus {
            box-shadow: none;
        }

        .p-overlay {
            margin-top: 5px;
            left: -70px !important;

            .pi {
                font-weight: 400;
            }

            .pi-trash {
                color: red;
            }
        }

        &-item {
            width: 210px;
        }
    }

}

@media (max-width: 1044px) {
    .dropdown {
        .p-dropdown {
            width: 60px;

            .pi {
                font-size: 13px;
            }

            .p-overlay {
                margin-top: 2px;
                left: -150px !important;
            }

            &-main {

                p,
                span {
                    font-size: 13px;
                }
            }

            &-item {
                width: 200px;

                p {
                    font-size: 12px;
                }
            }
        }
    }

    .profile-field-header-content-button-field button {
        width: 180px;

        .p-button-label {
            font-size: 13px;
        }
    }
}

@media (max-width: 768px) {
    .dropdown {
        .p-dropdown {
            width: 45px;

            .pi {
                margin-top: 3px;
                font-size: 11px;
            }

            .p-overlay {
                margin-top: 2px;
                left: -115px !important;
            }

            .p-dropdown-label {
                padding: 2px 5px;
            }

            &-main {

                p,
                span {
                    font-size: 11px;
                }
            }

            &-item {
                width: 150px;

                p {
                    font-size: 12px;
                }
            }
        }
    }

    .profile-field-header-content-button-field button {
        width: 150px;

        .p-button-label {
            font-size: 11px;
        }
    }
}

@media (max-width: 600px) {
    .dropdown {
        .p-dropdown {
            width: 60px;
            background-color: transparent;
            border-color: transparent;

            .p-overlay {
                left: -150px !important;
            }

            .p-dropdown-label {
                padding: 0;
            }

            &-items-wrapper {
                max-height: none !important;
            }

            &-main {
                width: 100%;
                justify-content: center;
            }

            &-items {
                padding: 0;
            }

            &-item {
                width: 200px;
                gap: 20px;
                padding: 0 2px;
                background-color: transparent;
            }

            &:hover {
                background-color: $button-hover-color;
            }
        }
    }
}