/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100..900&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Roboto Flex', sans-serif;
}

input {
    height: 45px;
}

.content-form__logo-img img {
    width: 100px;
    height: 45px;
}

.content-form__btn {
    width: 100%;
    margin-top: 5px;
}

@media (max-width: 650px) {
    .header-options__input {
        display: none;
    }
}