<app-header *ngIf="userInfo"></app-header>
<div class="profile" *ngIf="userInfo">
    <app-sidebar [activePage]="'Моя страница'"></app-sidebar>

    <div class="profile-field">
        <div class="profile-field-header" *ngIf="userInfo">
            <div class="profile-field-header__cover" *ngIf="userInfo.cover.url">
                <img src="{{userInfo.cover.url}}" alt="">

                <p-dropdown [options]="changeActions" optionLabel="title" [showClear]="true" placeholder=""
                    class="profile-field-header__cover-button">
                    <ng-template pTemplate="selectedItem">
                        <div class="profile-field-header__cover-button-label">
                            <span class="pi pi-pencil"></span>
                            <p>Изменить обложку</p>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="p-dropdown-item">
                            <span [ngClass]="'pi ' + item.icon"></span>
                            <p>{{ item.title }}</p>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="profile-field-header-content"
                [class.profile-field-header-content-with-cover]="userInfo.cover.url">
                <div class="profile-field-header-content__photo"
                    [class.profile-field-header-content-with-cover__photo]="userInfo.cover.url">
                    <img src="{{userInfo.photo}}" alt="">
                </div>

                <div class="profile-field-header-content__user-info"
                    [class.profile-field-header-content-with-cover__user-info]="userInfo.cover.url">
                    <p class="profile-field-header-content__user-info__name">{{userInfo.name}}</p>
                    <p class="profile-field-header-content__user-info__status">{{userInfo.status}}</p>
                    <div class="profile-field-header-content__user-info-details">
                        <p class="pi pi-map-marker" *ngIf="userInfo.city"></p>
                        <p class="profile-field-header-content__user-info-details__title" *ngIf="userInfo.city">
                            {{userInfo.city}}</p>

                        <p class="pi pi-briefcase"
                            *ngIf="userInfo.career[0] || userInfo.schools[0] || userInfo.universityName">
                        </p>
                        <p class="profile-field-header-content__user-info-details__title" *ngIf="userInfo.career[0]">
                            {{userInfo.career[0].company}}</p>
                        <p class="profile-field-header-content__user-info-details__title"
                            *ngIf="!userInfo.career[0] && userInfo.universityName">
                            {{userInfo.universityName}}</p>
                        <p class="profile-field-header-content__user-info-details__title"
                            *ngIf="!userInfo.career[0] && !userInfo.universityName && userInfo.schools[0]">
                            {{userInfo.schools[0].name}}</p>

                        <p class="pi pi-info-circle"></p>
                        <p class="profile-field-header-content__user-info-details__title profile-field-header-content__user-info-details__more"
                            (click)="changeActiveMoreInfo()">
                            Подробнее</p>

                        <app-profile-info (moreInfoActive)="moreInfoActiveEmit()" [userInfo]="userInfo" [token]="token"
                            *ngIf="moreInfoActive"></app-profile-info>
                    </div>
                    <p-button class="profile-field-header-content__publish">
                        <ng-template pTemplate>
                            <span class="pi pi-plus"></span>
                            <p>Опубликовать</p>
                        </ng-template>
                    </p-button>
                </div>

                <div class="profile-field-header-content-button-field"
                    [class.profile-field-header-content-button-field-with-cover]="userInfo.cover.url">
                    <p-button label="Редактировать профиль"></p-button>
                    <p-dropdown [options]="moreActions" optionLabel="title" [showClear]="true" placeholder=""
                        class="dropdown">
                        <ng-template pTemplate="selectedItem">
                            <div class="p-dropdown-main">
                                <p>Ещё</p>
                                <span class="pi pi-angle-down"></span>
                            </div>
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            <div class="p-dropdown-item">
                                <span [ngClass]="'pi ' + item.icon"></span>
                                <p>{{ item.title }}</p>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
        </div>

        <div class="profile-field-main" [class.profile-field-main-hidden]="postsProcessed !== postsToShow.length">
            <div class="profile-field-main-left">
                <div class="profile-field-main-left__input">
                    <div class="profile-field-main-left__input-img">
                        <img src="{{userInfo.photo}}">
                    </div>
                    <input type="text" pInputText placeholder="Что у вас нового?" />
                    <div class="profile-field-main-left__input-icons">
                        <span class="pi pi-camera"></span>
                        <span class="pi pi-chevron-circle-right"></span>
                        <span class="pi pi-bell"></span>
                        <span class="pi pi-align-right"></span>
                        <span class="pi pi-bell"></span>
                    </div>
                </div>


                <div class="profile-field-main-left-posts">
                    <div class="profile-field-main-left-posts-header">
                        <div class="profile-field-main-left-posts-header-blocks" *ngIf="postsInputActive">
                            <div class="profile-field-main-left-posts-header-blocks__block"
                                [class.profile-field-main-left-posts-header-blocks__active-block]="activePostsItem === postsItems.allPosts"
                                (click)="changeModePostsAll()">
                                <p class="profile-field-main-left-posts-header__block-title">{{postsItems.allPosts}}</p>
                            </div>
                            <div class="profile-field-main-left-posts-header-blocks__block"
                                [class.profile-field-main-left-posts-header-blocks__active-block]="activePostsItem === postsItems.myPosts"
                                (click)="changeModePostsMy()">
                                <p class="profile-field-main-left-posts-header__block-title">{{postsItems.myPosts}}</p>
                            </div>
                            <div class="profile-field-main-left-posts-header-blocks__block"
                                [class.profile-field-main-left-posts-header-blocks__active-block]="activePostsItem === postsItems.archivePosts"
                                (click)="changeModePostsArchived()">
                                <p class="profile-field-main-left-posts-header__block-title">{{postsItems.archivePosts}}
                                </p>
                            </div>
                        </div>

                        <div class="profile-field-main-left-posts-header-input" *ngIf="!postsInputActive">
                            <span class="pi pi-search" (click)="searchPosts()"></span>
                            <input type="text" [(ngModel)]="inputSerchText" pInputText
                                placeholder="Введите фразу или слово" (keyup.enter)="searchPosts()" />
                        </div>
                        <span class="pi" [class.pi-search]="postsInputActive" [class.pi-times]="!postsInputActive"
                            (click)="postsInputActive = !postsInputActive; changeModePostsAll()"></span>
                    </div>
                    <div class="profile-field-main-left-posts__devide"></div>

                    <div class="profile-field-main-left-posts-field" *ngIf="postsToShow.length!==0">
                        <app-profile-post *ngFor="let post of postsToShow" [postInfo]="post" [photo]="userInfo.photo"
                            [name]="userInfo.name"></app-profile-post>
                    </div>

                    <div class="profile-field-main-left-posts-absence" *ngIf="postsToShow.length===0">
                        <span class="pi pi-tablet"
                            *ngIf="activePostsItem === postsItems.allPosts || activePostsItem === postsItems.myPosts"></span>
                        <span class="pi pi-history" *ngIf="activePostsItem === postsItems.archivePosts"></span>
                        <p *ngIf="activePostsItem === postsItems.allPosts || activePostsItem === postsItems.myPosts">
                            Пока нет ни одного поста</p>
                        <p *ngIf="activePostsItem === postsItems.archivePosts">В архиве нет ни одного поста</p>
                    </div>
                </div>

            </div>
            <div class="profile-field-main-right"></div>
        </div>

        <p-progressSpinner class="profile-field__loader" *ngIf="postsProcessed !== postsToShow.length"/>
    </div>
</div>
<app-tabbar class="tabbar"></app-tabbar>