@import '../../_variables.scss';


.profile {
    display: grid;
    gap: 10px;
    grid-template-columns: calc(10vw + 200px) calc(80vw - 210px);

    &-field {
        &-header {
            &__cover {
                width: 100%;
                height: 200px;
                background-color: white;
                margin-bottom: -70px;
            }

            &__cover img {
                width: 100%;
                height: 100%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                object-fit: cover;
            }

            &-content {
                display: flex;
                gap: 5px;
                padding: 20px;

                &__photo {
                    width: 150px;
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    border-radius: 50%;
                    background-color: white;
                }

                &__photo img {
                    width: 95%;
                    height: 95%;
                    border-radius: 50%;
                    overflow: hidden;
                }

                &__user-info {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    padding-bottom: 20px;

                    &-with-cover {
                        margin-top: auto;
                    }

                    &-icon {
                        width: 20px;
                        height: 20px;
                    }

                    &__name {
                        font-size: 20px;
                        font-weight: 900;
                        margin: 0;
                    }

                    &__status {
                        margin: 0;
                        font-size: 13px;
                    }

                    &-details {
                        margin-top: 5px;
                        display: flex;
                        gap: 5px;

                        .pi,
                        &__title {
                            font-size: 12px;
                            margin: 0;
                            color: $subtext-color;
                            display: flex;
                            align-items: center;
                        }

                        &__title {
                            margin-left: 0px;
                            margin-right: 5px;
                        }

                        &__more {
                            cursor: pointer;
                        }
                    }
                }

                &-button-field {
                    display: flex;
                    gap: 10px;
                    margin-left: auto;

                    &-with-cover {
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .profile {
        grid-template-columns: calc(5vw + 200px) calc(90vw - 210px);

        &-field-header-content {
            padding: 20px 10px;
        }
    }
}


@media (max-width: 1044px) {
    .profile {
        grid-template-columns: calc(5vw + 150px) calc(90vw - 160px);
        &-field {
            &-header {
                &__cover {
                    height: 120px;
                }

                &-content {
                    padding-top: 20px;
                    &__photo {
                        width: 120px;
                        height: 120px;
                    }

                    &__user-info {
                        padding-bottom: 10px;

                        &__name {
                            font-size: 15px;
                        }

                        &__status {
                            font-size: 10px;
                        }

                        &-details {
                            gap: 3px;

                            .pi,
                            &__title {
                                font-size: 8px;
                            }
                        }
                    }

                    &-button-field {
                        margin-top: 30px;
                        gap: 5px;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .profile {
        grid-template-columns: 150px calc(100vw - 150px);

        &-field {
            &-header {
                &-content {
                    padding-top: 45px;

                    &__photo {
                        width: 75px;
                        height: 75px;
                    }

                    &__user-info {
                        padding-bottom: 0;

                        &__name {
                            font-size: 12px;
                        }

                        &__status {
                            font-size: 7px;
                        }

                        &-details {
                            gap: 3px;

                            .pi,
                            &__title {
                                font-size: 7px;
                            }
                        }
                    }

                    &-button-field {
                        margin-top: 15px;
                        gap: 2px;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .profile {
        grid-template-columns: 0 100vw;
        gap: 0;

        &-field {
            &-header {
                &-content {
                    padding-top: 35px;

                    &__photo {
                        width: 100px;
                        height: 100px;
                    }

                    &__user-info {
                        &__name {
                            font-size: 15px;
                        }

                        &__status {
                            font-size: 10px;
                        }

                        &-details {
                            gap: 3px;

                            .pi,
                            &__title {
                                font-size: 10px;
                            }
                        }
                    }

                    &-button-field {
                        gap: 2px;
                    }
                }
            }
        }
    }
}

@media (max-width: 560px) {
    .profile {
        grid-template-columns: 0 100vw;

        &-field {
            &-header {
                &-content {
                    display: grid;
                    padding-top: 20px;

                    &__photo {
                        width: 100px;
                        height: 100px;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    &__user-info {
                        &__name {
                            font-size: 15px;
                            text-align: center;
                        }

                        &__status {
                            font-size: 10px;
                            text-align: center;
                        }

                        &-details {
                            gap: 3px;
                            margin-left: auto;
                            margin-right: auto;

                            .pi,
                            &__title {
                                font-size: 10px;
                            }
                        }
                    }

                    &-button-field {
                        gap: 2px;
                        display: none;
                    }
                }
            }
        }
    }
}